@model IEnumerable<Category>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}


<div class="container p-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class = "text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Create New Category
            </a>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <table class=" table table-bordered table-striped " style="width: 100%">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.DisplayOrder
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2 bi bi-pencil-square">Edit</a>
                </div>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2 bi bi-pencil-square">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
